# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_LANGUAGE_CODE=fr-fr
DJANGO_TIME_ZONE=Africa/Algiers

# CORS (Vite)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://127.0.0.1:3000

# JWT
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
